In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

In [77]:
with open('data\\food\\flattened_mcdonalds_tweets.txt') as mcdt:
    mcdonalds_df = pd.DataFrame(json.loads(line) for line in mcdt)

In [78]:
#need to parse text field into array of strings
mcdonalds = mcdonalds_df[['created_at','text']]

# loop through dataframe series and makes them arrays of strings representing words
for key,items in mcdonalds['text'].iteritems():
    mcdonalds['text'][key] = mcdonalds['text'][key].split()
    
mcdonalds.head()

,created_at,text
0,Thu Apr 25 18:27:18 +0000 2019,"[RT, @russell_kane:, Kaneing:, McDonalds, Paper, Straws, #McDonaldsstraws, #Petition, ., On, tour., https://t.co/plkyuJJHMR, https://t.co/EoYVjtnReq]"
1,Thu Apr 25 18:27:05 +0000 2019,"[RT, @DenisHolton:, things, that, don’t, make, you, ugly:, -, acne, -, your, weight, -, scars, -, stretch, marks, -, body, hair, -, thinning, hair/loss, -, eczema…]"
2,Thu Apr 25 18:26:43 +0000 2019,"[Ba, da, pa, pa, I’m, lovn, it, @McDonalds, https://t.co/6Kf054wDOi]"
3,Thu Apr 25 18:26:41 +0000 2019,"[McDonald’s, Has, 250,000, Jobs, to, Fill, —, and, It, Wants, to, Hire, Older, Americans, https://t.co/Nmidiok7TC]"
4,Thu Apr 25 18:26:30 +0000 2019,"[@McDonalds, You, couldn""t, pay, me, to, eat, a, free, big, Mac,thanks,but, no, thanks]"

In [79]:
mcdonalds.to_csv('data\\food\\foodcsvs\\flattened_mcdonalds_tweets.txt')